
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// External Stylesheets
@import url("//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css");
@import url("//cdn.jsdelivr.net/sweetalert2/6.2.1/sweetalert2.min.css");

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.dropdown li .fa {
  margin-right: 6px;
}